* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mbar{
  list-style: none;
  display: flex;
  background-color: rgb(199, 241, 227);
  justify-content: space-between;
  height: auto;
  font-weight: 700;
  font-size: x-large;
}
.bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  list-style: none;
}

.uIcon{
  font-size: larger;
}
.blog{
  font-weight: 600;
  font-size: 200%;
  text-align: center;
}

.leaves{
  background-color: antiquewhite;
  width: 40%;
  padding: 0em;
  margin: 2em;
  font-weight: 500;
}
.image{
  background-color: black;
  opacity: 20%;
  width: 100%;
  height: 300px;
}
p{
  font-size: smaller;
  font-style: italic;
}